.element__like {
	cursor: pointer;
	width: 22px;
	height: 19px;
	border-style: none;
	border-width: initial;
	border-color: initial;
	border-image: initial;
	padding: 0;
	transition: all 0.3s ease 0s;
	margin: auto 5px;
	background: url(../../../images/VectorLike.svg) center center / 100% no-repeat;
}

.element__like:hover {
	opacity: 50%;
}