.Profile__pencil {
    width: 10px;
    height: 10px;
    display: flex;
    margin: auto;
}
@media screen and (max-width: 320px) {
	.Profile__pencil {
        width: 7.5px;
        height: 7.5px;
        
    }
}