.profile__profile-info {
	max-width: 336px;
	min-height: 73px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	margin-left: 30px;
}


@media screen and (max-width: 584px) {
	.profile__profile-info {
		margin-left: 0;
	}
}


@media screen and (max-width: 320px) {
	.profile__profile-info {
		max-width: 282px;
		margin-left: auto;
	}
}